:root {
    --main_background: #303030;
    --main_background_alt: #212121;
    --main_background_alt2: #161616;
    --selected_accent: #fe56aa;
    --hovered_accent: #ff8ac5;
    --border_accent: #fe56aa;
    --heart_colors: #ff0000;
    --black_outline_text:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        1px 0 0 #000,
        1px 1px 0 #000,
        0 1px 0 #000,
        -1px 1px 0 #000,
        -1px 0 0 #000;
}