@import url('colors.css');

/* Friends window ellipse color in top */
.statusHeaderGlow {
    filter: hue-rotate(90deg);
}

/* Remove blue tint at the top of friends list - Thanks Spacetheme! */
.singleWindowFocusBar {
    mask: unset;
    -webkit-mask: unset;
    background: unset;
}

/* Remove blue tint at the top of friends list - Thanks Spacetheme! */
.TitleBar {
    top: -32px;
    width: calc(100% + 32px);
    margin-left: -16px;
}

/* Top bar background color */
.friendListHeaderContainer {
    background-color: var(--main_background_alt);
}

/* Mid friends list section background */
.friendlistListContainer {
    background: var(--main_background);
}

/* Footer */
.friendListFooter {
    background-color: var(--main_background_alt);
}

/* Group chat list background */
.chatRoomListContainer {
    background: var(--main_background);
}

/* Active friends chat header */
.activeTab {
    background-color: var(--main_background_alt2);
}

/* Group chats header */
.friendsListSectionTitle {
    background-color: var(--main_background_alt2);
}

/* Own user name top of friends list */
.currentUserContainer .nOdcT-MoOaXGePXLyPe0H {
    color: var(--selected_accent);
}

/* Our own user online text */
.titleBarContainer .currentUserContainer ._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
    color: var(--hovered_accent);
}

/* Chat window tabs background */
.titleBarContainer.ChatTabs {
    background-color: var(--main_background_alt);
}

/* Active chat window tab background */
._2XZq-_f6npaQdAgeRzKIkz.Yd-DsWkYiFiYwpci--Yk_ {
    background-color: var(--main_background);
}

/* Chat tab with notification ellipse color */
._2ve8VIOIUS5rjAzmJvjVS- {
    background: radial-gradient(ellipse farthest-corner at 98% 90%, rgba(255, 0, 191, 0.8) 0%, rgba(233, 35, 207, 0.2) 40%, rgba(233, 35, 217, 0) 70%) !important;
}

/* Active chat user in-game text */
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
    background: none;
}