@import url('colors.css');

/* Friends window ellipse color in top */
.statusHeaderGlow {
    filter: hue-rotate(90deg);
}

/* Remove blue tint at the top of friends list - Thanks Spacetheme! */
.singleWindowFocusBar {
    mask: unset;
    -webkit-mask: unset;
    background: unset;
}

/* Remove blue tint at the top of friends list - Thanks Spacetheme! */
.TitleBar {
    top: -32px;
    width: calc(100% + 32px);
    margin-left: -16px;
}

/* Top bar background color */
.friendListHeaderContainer {
    background-color: var(--main_background_alt);
}

/* Mid friends list section background */
.friendlistListContainer {
    background: var(--main_background);
}

/* Footer */
.friendListFooter {
    background-color: var(--main_background_alt);
}

/* Group chat list background */
.chatRoomListContainer {
    background: var(--main_background);
}

/* Active friends chat header */
.activeTab {
    background-color: var(--main_background_alt2);
}

/* Group chats header */
.friendsListSectionTitle {
    background-color: var(--main_background_alt2);
}

/* Own user name top of friends list */
.currentUserContainer .nOdcT-MoOaXGePXLyPe0H {
    color: var(--selected_accent);
}

/* Our own user online text */
.titleBarContainer .currentUserContainer ._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
    color: var(--hovered_accent);
}