@import url('colors.css');

/* Friends window ellipse color in top */
.statusHeaderGlow {
    filter: hue-rotate(90deg);
}

/* Remove blue tint at the top of friends list - Thanks Spacetheme! */
.singleWindowFocusBar {
    mask: unset;
    -webkit-mask: unset;
    background: unset;
}

/* Remove blue tint at the top of friends list - Thanks Spacetheme! */
.TitleBar {
    top: -15px;
}

/* Push close/max/minimize buttons back down */
.friendsui-container .title-area-icon {
    top: 15px;
    position: relative;
}

/* Top bar background color */
.friendListHeaderContainer {
    background-color: var(--main_background_alt);
}

/* Mid friends list section background */
.friendlistListContainer {
    background: var(--main_background);
}

/* Footer */
.friendListFooter {
    background-color: var(--main_background_alt);
}

/* Group chat list background */
.chatRoomListContainer {
    background: var(--main_background);
}

/* Active friends chat header */
.activeTab {
    background-color: var(--main_background_alt2);
}

/* Group chats header */
.friendsListSectionTitle {
    background-color: var(--main_background_alt2);
}

/* Own user name top of friends list */
.currentUserContainer .nOdcT-MoOaXGePXLyPe0H {
    color: var(--selected_accent);
}

/* Our own user online text */
.titleBarContainer .currentUserContainer ._1BbOegz8bYL7iPzgYpOgQI ._2Ri005Wg_uXDTa71kdRbcN {
    color: var(--hovered_accent);
}

/* Chat window tabs background */
.titleBarContainer.ChatTabs {
    background-color: var(--main_background_alt);
}

/* Active chat window tab background */
._2XZq-_f6npaQdAgeRzKIkz.Yd-DsWkYiFiYwpci--Yk_ {
    background-color: var(--main_background);
}

/* Chat tab with notification ellipse color */
._2ve8VIOIUS5rjAzmJvjVS- {
    background: radial-gradient(ellipse farthest-corner at 98% 90%, rgba(255, 0, 191, 0.8) 0%, rgba(233, 35, 207, 0.2) 40%, rgba(233, 35, 217, 0) 70%) !important;
}

/* Active chat user in-game text */
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN {
    background: none;
}

/* Chat window history background */
.chatHistoryScroll {
    background: var(--main_background);
}

/* Chat window your messages */
.MultiUserChat .isCurrentUser .msgText {
    color: #d3d3d3;
}

/* Chat window their messages */
.msgText {
    color: white;
}

/* Chat window your username */
.isCurrentUser ._2m5YDddCyVhilOuWH-bTC1 {
    color: var(--hovered_accent);
}

/* Chat window your username - Ingame */
.isCurrentUser ._1KPraihJAKiBwLJWmOlju2 {
    color: var(--selected_accent)
}

/* Chat window send button */
._3Ule3rolhZJiBN4yNNtk1s .RVIs84dAE6wHcjH9tkinc:not(.jaQN2IyN4P8LZXJ6P11qy) {
    background: linear-gradient(136deg, #c400d6 1%, #ff1aec 60%);
}