@import url('colors.css');

/* Steam store background color (?) */
.home_ctn {
    background: var(--main_background) !important;
}

.home_ctn.apps_recommended_by_curators_ctn {
    background: var(--main_background) !important;
}

.home_ctn.discovery_queue_ctn {
    background: var(--main_background) !important;
}

.home_ctn.tab_container {
    background: var(--main_background) !important;
}

.home_ctn.top_new_releases {
    margin-top: none !important;
    margin-bottom: none !important;
}

.home_page_col_wrapper {
    background: var(--main_background) !important;
}

body.v6.infinite_scrolling #footer.small_footer {
    background: var(--main_background_alt) !important;
}

::-webkit-scrollbar-thumb {
    background-color: #00ff15 !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main_background) !important;
}

body::-webkit-scrollbar-thumb:window-active {
	background: var(--main_background) !important;
}

body::-webkit-scrollbar-thumb:window-inactive {
	background: #e4e4e4 !important;
}

body::-webkit-scrollbar-thumb:window-inactive:hover {
	background: var(--hovered_accent) !important;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--main_background) !important;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: var(--main_background) !important;
}

body::-webkit-scrollbar {
	background-color: var(--main_background_alt) !important;
}

body::-webkit-scrollbar-track {

}

.DialogBody::-webkit-scrollbar {
	display:none!important;
}

/* Top store bar background (Your Store, New & Noteworthy, Categories) */
#store_nav_area .store_nav_bg, .home_page_body_ctn.has_takeover #store_nav_area .store_nav_bg {
    background: var(--main_background_alt) !important;
}

/* Top store bar button text (Your Store, New & Noteworthy, Categories) */
.a.pulldown_desktop, .store_nav .tab > span {
    text-shadow: var(--black_outline_text) !important;
}

/* Top store bar search bar background */
.searchbox {
    background: var(--main_background) !important;
    border: 1px solid white !important;
}

/* Top store bar search bar default input text */
.searchbox input.default, input#store_nav_search_term {
    margin-top: 2px !important;
    font-family: "expressway" !important;
    font-size: 16px !important;
    height: 20px !important;
}

/* Top store bar search bar input text */
.searchbox input {
    margin-top: 0px !important;
}

/* Top store bar search bar input text - Selected */
input#store_nav_search_term::selection {
    background: var(--selected_accent) !important;
}

input::-webkit-input-placeholder {
	opacity:1 !important;
    color: white !important;
}